html,
body,
#root {
  height: 100%; /* Đảm bảo các phần tử cha cũng có chiều cao 100% */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.home-page {
  flex-grow: 1; /* Cho phép phần nội dung chính (home-page) chiếm phần không gian còn lại */
}

.footer {
  /* Các style hiện tại của bạn cho footer */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}
